.container{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content : start;

}
#hello{
    width: 100px;
    height: 100px;
    background-color: yellow; color:black ;
    display:flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}
.container2{
    width: 100%;
    height: 200px;
}
.chead{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
